@font-face {
  font-family: 'Inter Regular';
  src: url(../fonts/Inter-Regular.woff2), 
  url(../fonts/Inter-Regular.woff);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter Italic';
  src: url(../fonts/Inter-Italic.woff2), 
  url(../fonts/Inter-Italic.woff);
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Inter Medium';
  src: url(../fonts/Inter-Medium.woff2),
    url(../fonts/Inter-Medium.woff);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter Semi-bolt';
  src: url(../fonts/Inter-SemiBold.woff2), 
  url(../fonts/Inter-SemiBold.woff);
  font-style:normal;
  font-weight: 600;
}

